/* Загальні стилі для сторінки */
body {
    background-color: #b0d5ff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Навігація */
a {
    text-decoration: none;
    font-weight: bold;
    color: #0056b3;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 40px;
}
ul {
    margin: 20px auto;
    width: 60%;
    text-align: left;
}

/* Заголовок */
#page-header {
    color: #2c3e50;
    text-align: center !important;
    margin-top: 20px;
}

/* Контент */
.content {
    padding: 20px;
}

/* Заголовки */
.section-title {
    font-size: 28px;
    color: #34495e;
}

/* Абзаци */
.tip-description, .resource-description {
    font-size: 18px;
    color: #555555;
    text-align: justify;
    margin-bottom: 20px;
}

/* Список порад */
.tips-list {
    list-style-type: disc;
    padding-left: 20px;
}
.tip-item {
    margin-bottom: 10px;
}

/* Список ресурсів */
.resources-list {
    list-style-type: none;
    padding-left: 0;
}
.resource-link {
    color: #3498db;
    text-decoration: none;
}
.resource-link:hover {
    color: #2426ab;
}

































